-
  var benefits = {
    header: 'Неповторимые украшения по вашим задумкам',
    subheader: 'Изготовление и ремонт в ювелирной мастерской в Москве',
    items: [
      {
        header: 'Гарантируем качество',
        text: 'Не переживайте – вы получите уникальное изделие, выполненное без недочетов и изъянов, специалисты нашей ювелирной мастерской ответственно подходят к любому заказу. Убедитесь сами – посмотрите отзывы.'
      },
      {
        header: 'Не срываем сроки',
        text: 'Не ждите подолгу – сделаем все в те даты, которые обозначим в договоре. Время производства зависит от сложности, объема работ и прочих факторов. Обращайтесь, даже если нужно изготовить необычное украшение в сжатые сроки.'
      },
      {
        header: 'Идем навстречу клиентам',
        text: 'Воплотите в жизнь самые смелые идеи – сложность задачи не важна, специалисты нашей мастерской по изготовлению ювелирных изделий помогут разработать уникальный дизайн, подскажут подходящие материалы и проч.'
      },
      {
        header: 'Не завышаем стоимость',
        text: 'Узнайте, из чего складывается цена: предварительно рассчитаем итоговую сумму за услуги и материалы. Собственное производство позволяет снижать расходы, работаем без посредников, поэтому вы ни за что не переплачиваете.'
      },
      {
        header: 'Работаем честно и открыто',
        text: 'Вам не придется сомневаться в подлинности золота или драгоценных камней – используем только настоящие металлы и бриллианты, ставим пробы на изделия. Вы в любой момент можете проверить их у квалифицированного геммолога.'
      },
      {
        header: 'Поддерживаем клиентов',
        text: 'Задавайте вопросы, советуйтесь с мастерами – проконсультируем по всем волнующим моментам. Также приносите любые сломанные украшения в нашу ювелирную мастерскую в Москве – оперативно отремонтируем их.'
      },
    ],
    izgotovlenie: {
      items: [
        {
          image: 'img/sprite.svg#benefits-01',
          header: 'Не хуже, чем в магазине',
          text: 'Изделие на заказ сравнимо по качеству с тем, которые вы можете купить в ювелирном магазине – отличный внешний вид и исполнение.'
        },
        {
          image: 'img/sprite.svg#benefits-05',
          header: 'Никаких ограничений',
          text: 'Оснащение мастерской позволяет создавать уникальные украшения с комбинацией различных материалов и использованием камней.'
        },
        {
          image: 'img/sprite.svg#benefits-04',
          header: 'Обоснованная стоимость',
          text: 'Цена изготовления ювелирных изделий не завышена: свое производство дает возможность работать без посредников.'
        },
      ],
    },
    remont: {
      items: [
        {
          image: 'img/sprite.svg#benefits-01',
          header: 'Качественно',
          text: 'Не переживайте – вы получите уникальное изделие, выполненное без недочетов и изъянов, специалисты нашей ювелирной мастерской ответственно подходят к любому заказу. Убедитесь сами – посмотрите отзывы.'
        },
        {
          image: 'img/sprite.svg#benefits-02',
          header: 'Быстро',
          text: 'Не ждите подолгу – сделаем все в те даты, которые обозначим в договоре. Время производства зависит от сложности, объема работ и прочих факторов. Обращайтесь, даже если нужно изготовить необычное украшение в сжатые сроки.'
        },
        {
          image: 'img/sprite.svg#benefits-04',
          header: 'Недорого',
          text: 'Воплотите в жизнь самые смелые идеи – сложность задачи не важна, специалисты нашей мастерской по изготовлению ювелирных изделий помогут разработать уникальный дизайн, подскажут подходящие материалы и проч. '
        },
      ],
    },
  }

.benefits#benefits
  .container
    if index
      h2.benefits__header !{benefits.header}
      p.benefits__subheader.subheader !{benefits.subheader}
      .benefits-items.row
        each item, index in benefits.items
          .benefits__item.col-lg-4.col-md-6
            .benefits__item-image-part
              svg.benefits__item-image
                use(xlink:href="img/sprite.svg#benefits-0" + (index + 1))
            .benefits__item-text-part
              p.benefits__item-header !{item.header}
              p.benefits__item-text !{item.text}
    
    else if page == 'izgotovlenie'
      .benefits-items.row
        each item, index in benefits.izgotovlenie.items
          .benefits__item.col-md-4
            .benefits__item-image-part
              svg.benefits__item-image
                use(xlink:href=item.image)
            .benefits__item-text-part
              p.benefits__item-header !{item.header}
              p.benefits__item-text !{item.text}
    
    else if page == 'remont'
      .benefits-items.row
        each item, index in benefits.remont.items
          .benefits__item.col-md-4
            .benefits__item-image-part
              svg.benefits__item-image
                use(xlink:href=item.image)
            .benefits__item-text-part
              p.benefits__item-header !{item.header}
              p.benefits__item-text !{item.text}
