-
  var reviews = {
    header: 'Отзывы о мастерской по изготовлению <br>ювелирных украшений',
    parts: [
      {
        items: [
          {
            name: 'Лилия Петровна',
            text: 'Большое спасибо за выполненную работу. Особенно хочу отметить работу нашего ювелира Андрея. Всё сделали идеально и по доступной цене.'
          },
          {
            name: 'Лилия Петровна',
            text: 'Большое спасибо за выполненную работу. Особенно хочу отметить работу нашего ювелира Андрея. Всё сделали идеально и по доступной цене.'
          },
        ],
        link: { href: '#', text: 'Все отзывы с Яндекса' }
      },
      {
        items: [
          {
            name: 'Лилия Петровна',
            text: 'Большое спасибо за выполненную работу. Особенно хочу отметить работу нашего ювелира Андрея. Всё сделали идеально и по доступной цене.'
          },
          {
            name: 'Лилия Петровна',
            text: 'Большое спасибо за выполненную работу. Особенно хочу отметить работу нашего ювелира Андрея. Всё сделали идеально и по доступной цене.'
          },
        ],
        link: { href: '#', text: 'Все отзывы из Zoon' }
      },
      {
        items: [
          {
            name: 'Лилия Петровна',
            text: 'Большое спасибо за выполненную работу. Особенно хочу отметить работу нашего ювелира Андрея. Всё сделали идеально и по доступной цене.'
          },
          {
            name: 'Лилия Петровна',
            text: 'Большое спасибо за выполненную работу. Особенно хочу отметить работу нашего ювелира Андрея. Всё сделали идеально и по доступной цене.'
          },
        ],
        link: { href: '#', text: 'Все отзывы из Google' }
      },
    ],
    
  }

.reviews#reviews
  .container
    h2.reviews__header !{reviews.header}
    .reviews__inner.row
      each part in reviews.parts
        .reviews__part.col-md-4
          .reviews-items
            each item in part.items
              .reviews__item
                p.reviews__item-name !{item.name}
                p.reviews__item-text !{item.text}
          a.reviews__link(href=part.link.href) !{part.link.text}
